@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800&display=swap");

/* Universal style uses */
* {
    font-family: "Mulish", sans-serif;
    margin: 0;
    padding: 0;
}

/* Nav section style start here */

.nav-bar {
    /* border: 2px solid; */
    width: 1220px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.nav-title {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.nav-anchor a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
}

.nav-anchor {
    padding-right: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Header Banner style start here */

.header-banner {
    /* border: 2px solid; */
    margin: 0 auto;
    width: 100%;
    width: 1190px;
    height: 500px;
    background-image: linear-gradient(to top, black, transparent), url('../Images/header-banner.png');
    background-repeat: no-repeat;
    background-repeat: cover;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-content: center; */
    text-align: center;
}

.banner-heading {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin: 20px auto;
}

.banner-dis {
    width: 676px;
    color: #FFF;
    /* text-align: center; */
    font-size: 1rem;
    font-weight: 400;
    margin: 20px auto 60px auto;
}

.head-form {
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.head-form input {
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 800;
}

.select {
    width: 174px;
    height: 52px;
    border-radius: 5px;
    background: #FFF;
    margin-right: 10px;
    font-size: 1.2rem;
    font-weight: 800;
    padding-left: 10px;
}

.btn-primary {
    color: #FFF;
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    padding: 10px;
    font-size: 1.2rem;
    transition: transform(s);
}

.btn-primary:hover {
    transform: translateY(-20px) scale(1.2);
    z-index: 1.2;
}

/* Section 1 style start here */
.section1 {
    margin: 100px auto;
    width: 1200px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.sce1-heading {
    color: #131318;
    text-align: left;
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 30px;
}

.sec1-p {
    width: 530px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin: 30px 0;
}

.sec1-text>ul>li {
    width: 525px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px 0px;
}

.sce1-img {
    max-width: 50%;
    width: 540px;
    height: 550px;
    border-radius: 16px;
}

/* Section 3 style start here */

.ch-container {
    /* border: 2px solid; */
    width: 1200px;
    margin: 10px auto;
    display: block;
    /* text-align: center; */
}

.ch-head {
    text-align: center;
}

.ch-head .ch-heading {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.ch-head .ch-dis {
    /* border: 1px solid; */
    margin: 20px auto;
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.ch-serve {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}

/* box design */
.ch-img {
    width: 64px;
    height: 64px;
    /* padding-left: 20px; */
    margin-bottom: 20px;
}

.ch-heading {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    /* padding-left: 20px; */
    margin-bottom: 20px;
}

.ch-p {
    width: 486px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    /* padding-left: 20px; */
}

.ch-div2 {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.ch-div3 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* Section Hajj style Start here*/

.section-haj {
    margin: 100px auto;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.sce-haj-heading {
    color: #01460a;
    text-align: left;
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 30px;
}

.sec-haj-p {
    width: 530px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin: 30px 0;
}

.sec-haj-text > ol > li {
    width: 525px;
    color: rgba(255, 2, 2, 0.7);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px 0px;
}

.sce-haj-img  .haj {
    max-width: 100%;
    width: 540px;
    height: 550px;
    border-radius: 16px;
}
.btn-haj {
    background-color: darkgreen;
}

/* Newsletter Section style start here */

.newsletter {
    /* border: 2px solid; */
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.news-text {
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    border: 2px solid wheat;
    background: rgba(227, 250, 217, 0.8);
    backdrop-filter: blur(2.5px);
    gap: 20px;
    padding: 20px;
}

.nletter-heading {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.nletter-p {
    width: 350px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

.nl-form input {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 45px;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    font-size: 1rem;
    padding: 10px;
    margin-top: 20px;
}

.btn-nl {
    margin-top: 20px;
    width: 400px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    font-weight: 800;
}

.img-news {
    width: 672px;
    height: 440px;
    border-radius: 16px;
    margin-top: 50px;
    position: relative;
    top: 40px;
}

.btn-img {
    width: 324px;
    height: 120px;
    color: #FFF;
    font-style: normal;
    font-weight: 800;
    border-radius: 16px;
    transform: rotate(-19.628deg);
    position: relative;
    left: 341px;
    bottom: 130px;
}

/* Footer section style start here */

.foot-container {
    width: 1440px;
    /* height: 502px; */
    background: rgba(19, 19, 24, 0.05);
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    display: grid;
    justify-content: center;
    align-content: center;
}

.ft-nav {
    margin: 20px auto;
}

.f-text {
    width: 769px;
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 20px;
}

.f-icon {
    margin: 40px auto;
    width: 200px;
    height: 40px;
    display: flex;
    gap: 20px;
    /* justify-content: center; */
}
.f-icon > i {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.copyright{
    margin: 40px auto;
    color: #131318;
font-size: 1.2rem;
font-weight: 600;
}