@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800&display=swap");

/* Universal style uses */
* {
    font-family: "Mulish", sans-serif;
    margin: 0;
    padding: 0;
}

/* Nav section style start here */

.nav-bar {
    border: 2px solid;
    width: 1320px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.nav-title {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    color: #131318;
font-size: 36px;
font-weight: 800;
}
.nav-anchor a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
text-align: center;
font-size: 1.1rem;
font-weight: 400;
}
.nav-anchor {
    padding-right: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
    
}